body {
    display: block;
    margin: 8px;
}



.cabecera{
    width: 600px;
text-align: center;
padding: 5px;
margin-left: 370px;



}

.contenedor
{
    width: 610px;
    

display: flex;
margin-left: 370px;

}
.Encabezado1 {
width: 500px;

}

.numer h4{
    font-size: 20px;
margin-left: 70px;
    
}



.fotos{
    margin-left: 370px;
    display: flex;

}

.texto
{
    width: 610px;
    margin-left: 370px;  
}

p {
    text-align: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    
